@media(max-width: 600px){
  #login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
  }

    #login form{
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

      #login form label{
        margin-top: 15px;
        margin-bottom: 0;
      }

      #login form button{
        margin-top: 25px;
      }

    #login footer{
      display: flex;
      align-items: center;
    }

      #login footer div{
        font-size: 0.75rem;
      }

      #login footer button{
        font-size: 0.75rem;
      }
}

@media(min-width: 600px){
  #login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: scroll;
    flex: 1;
  }

    #login form{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      width: 599px;
      padding: 10px;
    }

      #login form label{
        display: flex;
        width: 50px;
      }

      #login form input{
        width: 150px;
      }

      #login form button{
        margin-top: 25px;
      }

    #login footer{
      display: flex;
      align-items: center;
    }

      #login footer div{
        font-size: 0.75rem;
      }

      #login footer button{
        font-size: 0.75rem;
      }  
}